<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <script>
    window.onload = function () {
      var sse = new EventSource('/push');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
      }
    }
  </script>
</head>

<body>
  <p>あなたのIDは[[${id}]]です。</p>
  <p>交換したいカードのチェックをして、あなたのIDを"半角で"入力してからボタンを押してください。</p>
  <p th:if="${Hand1}">
  <div>
    <img width="10%" th:src="@{image/{Hand1}.png (Hand1=${Hand1})}">
    <img width="10%" th:src="@{image/{Hand2}.png (Hand2=${Hand2})}">
    <img width="10%" th:src="@{image/{Hand3}.png (Hand3=${Hand3})}">
    <img width="10%" th:src="@{image/{Hand4}.png (Hand4=${Hand4})}">
    <img width="10%" th:src="@{image/{Hand5}.png (Hand5=${Hand5})}">
  </div>
  <div>
    <form action="/exchange" method="post">
      <input type="checkbox" name="h1" />
      <input type="checkbox" name="h2" />
      <input type="checkbox" name="h3" />
      <input type="checkbox" name="h4" />
      <input type="checkbox" name="h5" />
      <input type="text" name="id" />
      <input type="submit" value="交換" />
    </form>
  </div>
  </p>
  <p>あなたのIDを"半角で"入力してから、ボタンを押してください。</p>
  <form action="/result" method="post">
    <input type="text" name="id" />
    <input type="submit" value="確定" />
  </form>
</body>

</html>
