<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <script>
    window.onload = function () {
      var sse = new EventSource('/push');
      sse.onmessage = function (event) {
        console.log("sse.onmessage")
        console.log(event.data);
        var fruits_list = JSON.parse(event.data);
        var fruits_table = "";
        // DBに残っているフルーツのリストがJSONオブジェクトとして得られるので，htmlを作成し，tbodyの中身毎入れ替える
        for (var i = 0; i < fruits_list.length; i++) {
          var bgn_tr = "<tr>";
          var end_tr = "</tr>";
          var idx = "<td>" + i + "</td>";
          var f_name = "<td>" + fruits_list[i].name + "</td>";
          var f_price = "<td>" + fruits_list[i].price + "</td>";
          var f_proc = "<td>" + "<a href='/sample5/step8?id=" + fruits_list[i].id + "'>購入</a>" + "</td>"
          fruits_table = fruits_table + bgn_tr + idx + f_name + f_price + f_proc + end_tr;

        }
        console.log(fruits_table);
        var tbody = document.getElementById("fruits_list");
        tbody.innerHTML = fruits_table;

      }
    }
  </script>
</head>

<body>
  <!-- <p th:if="${Hands}">
    <div th:each="Hand,stat:${Hands}">
      [[${Hand}]]
    </div>
  </p> -->

  <p th:if="${Hand1}">
  <div>
    <img width="10%" th:src="@{image/{Hand1}.png (Hand1=${Hand1})}">
    <img width="10%" th:src="@{image/{Hand2}.png (Hand2=${Hand2})}">
    <img width="10%" th:src="@{image/{Hand3}.png (Hand3=${Hand3})}">
    <img width="10%" th:src="@{image/{Hand4}.png (Hand4=${Hand4})}">
    <img width="10%" th:src="@{image/{Hand5}.png (Hand5=${Hand5})}">

  </div>
  <div>
    <form action="/exchange" method="post">
      <input type="checkbox" name="h1" />
      <input type="checkbox" name="h2" />
      <input type="checkbox" name="h3" />
      <input type="checkbox" name="h4" />
      <input type="checkbox" name="h5" />
      <input type="submit" value="交換" />
    </form>
  </div>
  </p>
  <form action="/poker4" method="post">
    <input type="submit" value="確定" />
  </form>
  <p th:if="${handname}">
    [[${handname}]]
  </p>
  <p th:if="${score}">
    [[${score}]]
  </p>
</body>

</html>
